/* 
 * @author: Mgr. Jozef Petrenčík
 * @last update: Ing. Peter Vojtech ml. <petak23@gmail.com>
 * @last update: 21.03.2023 
 * Bwfoto main CSS Document 
 */

:root{
	font-size: calc(.6rem + .5vw);
}

/** ---- Univerzálne štýly ----*/
a[href^="#error:"] {
	background: red;
	color: white;
}

.fa-1_5x {
	font-size: 1.5em;
}

body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	color: #ddd;
	background-color: black;
}
#slider {
	background-repeat: repeat-x;
	background-color: black;
	background-size: 175vh 11vh;
	margin: 0;
	padding: 0;
}

/* šedý gradient podklad */
.frame {
	//background-image: linear-gradient(to top, rgba(33, 33, 33, 1)50%, rgba(33, 33, 33, 0)90%);
	width: 95vw;
	padding: 2rem;
	margin: 0 auto;
}

/* Štýly pre tmavý režim */
.dark-mode {
	background-color: black;
	color: #aaa;

	.frame {
		background-image: linear-gradient(to top, rgba(33, 33, 33, 1)50%, rgba(33, 33, 33, 0)90%);
	}
}

/* Štýly pre svetlý režim */
.light-mode {
	color: #fff;

	.frame {
		background-image: linear-gradient(to top, rgba(80, 80, 80, 1)50%, rgba(33, 33, 33, 0)90%);
	}
}


@media (min-width: 576px) {
	#slider 	{
		background-size: auto;
	}
}


p{
	font-weight: 300;
}
a{
	color: #333;
}
a:hover{
	color: #960;
}

/* navigácia */
nav { 
	a {
		font-size: 0.9rem;
	}
	.nav-item {
		background-color: rgba(250, 250, 250, 0.60);
		margin: 0 2px;

		.nav-link {
			font-size: .9rem;
			padding: 0.3rem;
		}
	}
	.fa-binoculars {
		color: white;
	}
	.form-control {
		font-size: .9rem;
	}
}	// END -- nav

/*#navbarSupportedContent.hidecont {
	display: none !important;
}*/

.navbar-brand img {
	margin: 1% 0;
	width: 65%;
	transition: width .5s;
}
@media (min-width: 576px) {
	.navbar-brand img {
		width: 100%;
	}
}

nav.shrink {
 	height: auto;
	justify-content: space-between;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 75%, transparent);
	padding-top: 0;

	/*.navbar-toggler {
		display: flex;
		background-color: #aaa6;
	}*/

	.nav-link {
		padding-top: 0;
		padding-bottom: 0;
	}
	input {
		padding-top: 0;
		padding-bottom: 0;
		height: auto;
		/*border-radius: 0;*/
	}
	.navbar-brand img {
		background-color: transparent;
		width: 40%;
	}
	a {
		font-size: 0.9rem;
	}
	.navbar-brand {
		padding: 0 !important;
		background-color: transparent;
	}
}  // END -- nav.shrink

#topNav {
	align-items: flex-start;
}
#navbarSupportedContent{
	margin-top: .5rem;
}

.article-main{
	text-align: center;
}

/* casti webu nahlady */
#webParts{
	display: none;
}

#webParts-md {
	display: flex;
	margin: 0 auto 2rem auto;
	flex: 1 1 auto;

	figure.w-img {
		position: relative;
		height: 30vh;
	}	
	figcaption {
		position: absolute;
		bottom: 0px;
	}
	h2 {
		font-size: 1.2rem;
		transition: font-size 0.3s;
		margin: 0;
	}
	figure:hover figcaption h2 {
		font-size: 1.3rem;
		text-decoration: underline;
	}
	.flex-column figcaption {
		bottom: 0px;
	}
	figure .img-fluid {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	.part-small {
		background-color: #996600;
		background: linear-gradient(to bottom, transparent, rgba(153, 102, 0, .7) 20%, rgb(153, 102, 0) 50%);
		padding: 1rem;
		margin-top: .5rem;
	}
	.part-small:first-child {
		margin: 0;
	}
}	// END -- #webParts-md

#webParts .row, #webParts-md .row{
		margin-left: 0;
}

#webAlbums
{
	display: block;

	.album {
		text-align: center;
		margin: 1rem 0 0 0;
	}
	h3 {
		color: white;
		margin: .5em 0 0 0;
	}
	h3:hover {
		color: #b80;
	}
	img {
		outline: .4rem solid rgba(225, 225, 225, 0.7);
		outline-offset: -.4rem;
	}
	img:hover {
		outline: .7rem solid rgba(225, 225, 225, 1);
		outline-offset: -.7rem;
	}
}	// END -- #webAlbums

#squarePlace {
	max-width: 80vh;
	max-height: 80vh;
	background-color: rgba(44,44,44,1.00);
	position: relative;

	img {
		position: absolute;
		max-width: 90%;
		max-height: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}	// END -- #squarePlace
 

/* footer */
footer {
	border-top: 2px solid #000;
	margin-top: 2rem;
}
footer .nav ul{
 border-bottom: 1px solid #777;
}
footer .nav li{
 background-color: transparent;
 border-right: 1px solid #777;
}
footer .nav li:last-child{
 border-right: 0px;
}
footer a{
	color: #999;
 font-size: 0.8rem;
}
footer a:hover{
	color: #960;
}
footer #logoBWfoto {
	text-align: center;
}
footer #contact {
		text-align: center;
	}
footer .pv-footer {
 font-size: 0.7rem;
 color: #999;
}
footer .pv-footer a{
 font-size: 0.7rem;
 color: #960;
}
/* media queries */
@media (min-width: 576px) {
	#webAlbums{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	#webAlbums h3{
		font-size: 1.5rem;
	}
	#webParts-md figure, #webParts-md figure.w-img{
		height: 45vh;
	}
}

@media (min-width: 768px) {
.frame{
	width: 85vw;
	}
	nav .form-control {
		max-width: 8em;
	}
	nav .nav-item {
		padding-left: 0;
	}
	nav .fa-binoculars{
		color: black;
	}
		footer #logoBWfoto {
		border-right: 1px solid #777;
		text-align: right;
	}
		footer #contact {
		text-align: left;
	}
}

@media (min-width: 960px) {
.frame{
	width: 80vw;
	}
 nav .form-control {
	max-width: 12em;
 }
	nav a{
	font-size: 1rem;
}
	#webParts-md{
		display: none;
	}
	#webParts{
		display: block;
		margin: 0 auto 2rem auto;
	}
	#webParts figure{
		position: relative;
		flex-grow: 1;
		height: 45vh;
		min-height: 347px;
	}
	#webParts figcaption{
		position: absolute;
		bottom: 0px;
	}
	#webParts h2{
		font-size: 1.2rem;
		transition: font-size 0.3s;
	}
	#webParts a > h2 {
		margin-bottom: -.5rem;
	}
	#webParts a.reverse > h2 {
		margin-bottom: .5rem;
	}
	#webParts figure:hover figcaption h2{
		font-size: 1.3rem;
		text-decoration: underline;
	}
	#webParts .flex-column-reverse figcaption{
		top: 0px;
	}
	#webParts .flex-column-reverse figure{
		margin-top: 1rem;
	}
	#webParts .flex-column-reverse figure:nth-child(1){
		margin-bottom: 0;
	}
	#webParts figure img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
	}
	#webParts .part-small {
		background-color: #996600;
		background: linear-gradient(to bottom, transparent, rgba(153, 102, 0, .7) 20%, rgb(153, 102, 0) 50%);
		height: 55px !important;
	}
	#webParts .flex-column-reverse .part-small {
		background: linear-gradient(to top, transparent, rgba(153, 102, 0, .7) 20%, rgb(153, 102, 0) 50%);
	}
	.thumbgrid{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1200px) {
	#webAlbums{
		justify-content: left;
	}
}

.dropdown-menu {
	background-color: #ccc;
}
.dropdown-menu a {
	color: #333;
}
.dropdown-item {
	color: #333 !important;
}
.dropdown > button {
	padding: 0;
	color: #ccc;
}
.dropdown .dropdown-toogle {
	background-color: transparent !important;
}
.breadcrumb-item::before {
	padding-top: .2rem;
}
.breadcrumb-item.active {
	padding-top: .2rem;
}
.breadcrumb-item.active::before{
	padding-top: 0;
}


@media (prefers-color-scheme: dark) {
	/* styly pro tmavý režim */
}

@media (prefers-color-scheme: light) {
	/* styly pro světlý režim */
}