/* AUTHOR: Peter VOJTECH; CREATION DATE: 24.04.2012 */
/* UPDATED 20.12.2024 */
@use "sass:meta";

@import "~@fortawesome/fontawesome-free/css/all.css";
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue-next/dist/bootstrap-vue-next.css';

@import 'css2.css';

@include meta.load-css('bwfoto.scss');
@include meta.load-css('pv_styles.scss');
@import 'vue_fotogalery.css';

@import 'font_cinzel.css';