/* 
 * Fotogaléria s Vue.js
 * @author Ing. Peter VOJTECH ml. <petak23@gmail.com>
 * Last update: 06.11.2024 
 */

[v-cloak] #webThumbnails .vue-fotogalery > div, 
[v-cloak] #webAlbums .menu-section > div { /* Pre schovanie počas načítania */
	display: none;
}
/* ---- 
	Animovaný spinner
	Zdroje: 
	https://www.w3schools.com/howto/howto_css_loader.asp
	https://codeburst.io/how-to-create-a-simple-css-loading-spinner-make-it-accessible-e5c83c2e464c
---- */
@keyframes spinner {
	0% {
		transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}

[v-cloak] #webThumbnails .vue-fotogalery,
[v-cloak] #webAlbums .menu-section {
	height: 80vh;
	display: inline-block;
	width: 100%;
	text-align: center;
	background-color:rgba(44,44,44,1);
	position: relative;
	opacity: 1;
	transition: opacity linear 0.1s;
}
[v-cloak] #webThumbnails .vue-fotogalery::before,
[v-cloak] #webAlbums .menu-section::before {
	animation: 2s linear infinite spinner;
	border: solid 5px rgba(54,54,54,1);
	border-bottom-color: #ef6565;
	border-radius: 50%;
	content: "";
	height: 40px;
	left: 50%;
	opacity: inherit;
	position: absolute;
	top: calc(50% - 40px);
	transform: translate3d(-50%, -50%, 0);
	transform-origin: center;
	width: 40px;
	will-change: transform;
}

[v-cloak] #webThumbnails .vue-fotogalery::after,
[v-cloak] #webAlbums .menu-section::after {
	content: "Nahrávam...";
	color: #ffeb3b;
	font-weight: bold;
	text-align: center;
	line-height: 80vh;
	vertical-align: bottom;
}
/* ---- Koniec animovaného spinnera ---- */

/* ---- časť albumov - foto section - úroveň 2 ---- */
.album a {
	color: #ddd;
}
.album img {
	width: 100%;
}

/* ---- časť obsahu albumu - foto album - úroveň 3 ---- */
.detail button {
  background: none;
  width: 100%;
  height: 100%;
}
.thumbgrid{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 0.5rem;
	overflow: auto;
  max-height: 80vh;
  grid-auto-rows: 9rem;
}
.thumbgrid .selected img {
	border-color: #ffeb3b;
}
.thumbgrid > div{
	position: relative;
	background-color: rgba(44,44,44,1.00);
	padding: 1rem;
}
.thumbgrid > div::before{
	content: "";
	padding-top: 100%;
	display: block;
}
.thumbgrid img{
	position: absolute;
	max-width: 90%; max-height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: solid 3px #ddd;
	color: transparent;
}	
.thumbgrid img.podclanok {
	opacity: .5;
}
.thumbgrid .h4-podclanok {
	position: absolute;
	max-width: 90%; max-height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ddd;
	text-align: center;
}
.for-pdf {
  color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 4rem;
}
@media (min-width: 576px) {
  .thumbgrid{
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 7rem;
  }
}
@media (min-width: 1200px) {
  .thumbgrid{
	grid-template-columns: repeat(3, 1fr);
  }
}

/* ---- časť obsahu album - Zvätšená fotka - úroveň 4 ---- */
.lightbox-img {
	background-color: rgba(20,20,20,.9);
}
.lightbox-img .modal-xl {
	max-width: 100%;
	margin: 0;
}
.lightbox-img .modal-header {
	color: #ffeb3b;
	font-weight: bold;
	border: 0;
	padding: .5rem 0 0 1rem;
}
.lightbox-img .modal-header .close {
	margin-right: 2rem;
	padding-right: 0;
	color: #ffeb3b;
	font-size: 1.75rem;
	text-shadow: none;
	opacity: .8;
}
.lightbox-img .modal-title {
	width: 100%;
	text-align: center;
}
.lightbox-img .modal-dialog .modal-content { 
	background-color: transparent;
}
.lightbox-img .modal-body {
	display: table;
	margin-left: 0rem;
	margin-right: 0rem;
	padding: 0;
	text-align: center;
}
.lightbox-img .my-img-content {
	width: 96%;
	margin: 0 auto;
}
@media (min-width: 576px) {
	.lightbox-img .modal-body {
		margin-left: 5rem;
		margin-right: 5rem;
	}
	.lightbox-img .my-img-content {
		width: 88%;
		margin: 0 auto;
	}
}
.lightbox-img .arrows-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display:flex
}
.lightbox-img .arrows-l, .lightbox-img .arrows-r, .lightbox-img .go-to-hight {
	flex:1;
	display:flex;
	align-items:center;
	opacity:.25;
	transition:opacity .5s;
	color:#fff;
	font-size:30px;
	z-index:1
}
.lightbox-img .arrows-l:hover, .lightbox-img .arrows-r:hover {
	opacity: 1;
	text-decoration: none;
}
.lightbox-img .arrows-l > a, .lightbox-img .arrows-r > a{
	text-decoration: none;
	padding: 0;
}
.lightbox-img .arrows-r > a {
	display: inline-block;
	text-align: right;
	width: 100%;
}
.lightbox-img .description {
	color: #ddd;
}
.lightbox-img .modal-footer {
	display: none;
}
.border-a {
	margin-left: auto;
	margin-right: auto;
}
.border-c {
	max-height: 87vh;
	max-width: 100%;
}

/* ---- časť obsahu album - Zvätšená fotka - úroveň 5 ---- */
#modal-multi-2 {
	background-color: black;
}
#modal-multi-2 .modal-dialog {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	background-color: black;
}
#modal-multi-2 header, #modal-multi-2 footer{
	display: none;
}
#modal-multi-2 .modal-content {
	background-color: transparent;
}
#modal-multi-2 .modal-body {
	display: table;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
#modal-multi-2 .modal-body img {
	max-height: 99vh;
	max-width: 100%;
}